body {
  font: normal 14px 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  cursor: default;

}
#root{
  min-height: 100vh;
}

ul, li{
  display: block;
  padding: 0;
  margin: 0;
}

div, p, span, button, form, input, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0.02em;
}

p{
  margin: 0 ;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
}
